

.letra{
	font-family: cursive;
	font-size: 300%;
	text-align: center;
	font-style: italic;
	width: 100%;
}

.encabezado{
	text-align: center;

}

footer{
	text-align: center; 
}
*{
	position: relative;
	}
.imagenes{
	width:2080px;
	height:600px;
	position: center;
}
body{
	opacity: 94%;
	background-repeat: repeat;
	background-position: center;
	position: relative;
	background-size: cover;
}
